name: Learning Github Actions CI

on: 
  push:
    branches:
      - "production"
      - "staging"

jobs:
  laravel-tests:
    name: Run Laravel Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TODAY_DATE: ${{ php -r "date('Y-m-d');" }}
        with:
          tag_name: v${{ env.TODAY_DATE }}
          release_name: v${{ env.TODAY_DATE }}
          draft: false
          prerelease: false

