name: Learning Github Actions CI

on: 
  push:
    branches:
      - "production"
      - "staging"

jobs:
  laravel-tests:
    name: Run Laravel Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP8
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: mbstring, bcmath

      - name: Create .env file
        run: cp .env.example .env

      - name: Composer dependencies
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
        run: composer install

      - name: Generate app key
        run: php artisan key:generate

      - name: Install NPM dependencies
        run: npm ci

      - name: Run Mix
        run: npm run prod

      - name: Run tests
        run: ./vendor/bin/phpunit

      - name: Deploy staging
        if: github.ref == 'refs/heads/staging'
        env:
          VAPOR_API_TOKEN: ${{ secrets.VAPOR_API_TOKEN }}
        run: php vendor/bin/vapor deploy staging

      - name: Deploy production
        if: github.ref == 'refs/heads/production'
        env:
          VAPOR_API_TOKEN: ${{ secrets.VAPOR_API_TOKEN }}
        run: php vendor/bin/vapor deploy production

