name: Learning Github Actions CI

on: push

jobs:
  laravel-tests:
    name: Run Laravel Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Composer dependencies
        run: composer install

      - name: Generate app key
        run: php artisan key:generate

      - name: Run tests
        run: ./vendor/bin/phpunit