name: Learning Github Actions CI

on: 
  push:
    branches:
      - "production"
      - "staging"

jobs:
  laravel-tests:
    name: Run Laravel Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP8
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          extensions: mbstring, bcmath

      - name: Create .env file
        run: cp .env.example .env

      - name: Cached composer dependencies
        uses: actions/cache@v2
        with:
          path: vendor
          key: dependencies-composer-${{ hashFiles('composer.lock') }}

      - name: Composer dependencies
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
        run: composer install

      - name: Generate app key
        run: php artisan key:generate

      - name: Setup Node.js version
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Cached NPM Dependencies
        uses: actions/cache@v2
        with:
          path: node_modules
          key: dependencies-npm-${{ hashFiles('package-lock.json') }}

      - name: Install NPM dependencies
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm install --ignore-scripts && npm rebuild # if we use npm ci here, it will remove the cached node_modules directory

      - name: Run Mix
        run: npm run prod

      - name: Run tests
        run: ./vendor/bin/phpunit

      - name: Get Today Date
        if: github.ref == 'refs/heads/production'
        id: today
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%H-%M')"

      - name: Create Release
        if: github.ref == 'refs/heads/production'
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.today.outputs.date }}
          release_name: v${{ steps.today.outputs.date }}
          draft: false
          prerelease: false

